.msg-items{
    padding: 5px;
}
.msg-item-card{
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pd-0{
    padding: 0px;
}
.border-solid-black{
    border: 1px solid black;
}
.sms-title{
    height: 24px;
    font-weight: bold;
}

@media screen and (min-width: 262px) {
    .user-avatar{
        height: 4rem;
        width: 4rem;
        border-radius: 1rem;
    }
    .msg-item{
        height: 100px;
        border-radius: 1em;
        border: 1px solid #50cd8a;
        background-color: #e8fff3;
        color: #50cd8a;
    
    }

    .h100{
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 262px) {
    .user-avatar-hidden{
        display: none;
    }
    .user-avatar{
        display: none;
    }
    .msg-item{
        height: 30px;
        border-radius: 1em;
        border: 1px solid #50cd8a;
        background-color: #e8fff3;
        color: #50cd8a;
    
    }

    .h100{
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 374px) {
    .card-small-hidden {
      display: none;
    }
}

@media screen and (max-width: 576px) and (min-width: 375px) {
    .sms-description{
    height: 68px;
    font-size: 12px;
    }
}