<div class="container">
  <div class="card text-center">

    <div class="card-header bg-dark text-white font-weight-bold">
      SMS TRACKER
    </div>

    <div class="card-body">
      <h5 class="card-title">Nơi lưu trữ những kỉ niệm</h5>

      <p class="card-text">
        Nơi tình yêu bắt đầu, Đây là nơi lưu trữ những tin nhắn của bạn.
      </p>

      <a href="#" class="btn btn-primary">Thêm tin nhắn</a>

      <div class="row" >

        <div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 msg-items">
          <div class="card msg-item" >
            
            <div class="row msg-item-card">

                <div class=" col col-3 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 user-avatar-hidden border-solid-black">
                    <img src="./../assets/img/1.jpg" alt="avatar" class="user-avatar ">
                </div>
    
                <div class="col col-9 col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 border-solid-black">
                    <div class="h100">
                        <div class="row h100">
                            <div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 sms-title border-solid-black" >
                                <p>PRUDENTIAL</p>
                            </div>
                            <div class="card-small-hidden col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 sms-description border-solid-black" >
                                <p>21/05/2022 12:25:44 Cam on quy khach da thanh toan du no TK The 818331286590 GD: + 570,000.00 VND. So du kha dung: 12,187,000 VND...</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
            
          </div>
        </div>

        <div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 msg-items">
          <div class="card msg-item">
            <div class="card-block">normal</div>
          </div>
        </div>

        <div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 msg-items">
          <div class="card msg-item">
            <div class="card-block">normal</div>
          </div>
        </div>
        
        <div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 msg-items">
            <div class="card msg-item">
              <div class="card-block">normal</div>
            </div>
          </div>

      </div>

    </div>

    <div class="card-footer text-muted">It was a long time ago</div>

  </div>
</div>
